h1 {
    color: red;
    font-family: 'Arial';
}

h6 {
    color: white;
    background-color: grey;
}

h2 {
    color: pink;
    text-decoration: underline;
}

p {
    text-align: center;
    color: red;
    font-size: 9px;
}

.p2 {
    color: green;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    font-size: 25px;
}

.p3 {
    color: white;
    font-size: 9px;
    background-color: lightblue;
    text-align: left;
}

.p4 {
    color: pink;
    font-size: 15px;
    text-decoration: underline;
    text-align: left;
    font-weight: bold;
}

.p5 {
    color: white;
    font-size: 12px;
    text-align: right;
    background-color: green;
}

.p6 {
    color: green;
    font-size: 8px;
    text-align: left;
    text-decoration: underline;
}