body {
    background-image:url("./imagenes/fondo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

pelicula {
    display:table;
    border: 5px double black;
    margin:10px 50px;
    background-color: dimgray;
}

cabecera {
    display: table-row;
    font: bold 14px arial;
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 6px;
}

series {
    display: table-row;
    font: 14px arial;
    text-align: center;
    background-color: yellow;
    color:red;
}

personaje,descripcion,web{
    display: table-cell;
    border: 1px solid blue;
    border-collapse: collapse;
    padding: 3px 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

caption {
    display:table-caption;
    text-align: center;
    color: white;
    text-shadow: 2px 2px red;
    padding: 30px;
    font-size:22px;
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo:hover {
    transform: scale(1);
    opacity: 0.8;
}

p.imagen {
    text-align: center;
}


th {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tr {
    text-align: center;
    background-color: lightblue;
    font-family: 'Arial Narrow';
}

.nombreP {
    font-style: italic;
    background-color: blue;
    color: white;
}

a {
    color:red;
}

a:hover {
    color:white;
    font-weight: bold;
    text-shadow: 2px 2px blue;
}

p.desc1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-shadow: 1px 1px yellow;
}

.p2 {
    text-align: center;
}

button {
    background: transparent;
    color: blue;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 20px 30px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}
  
button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, red, rgba(115, 128, 0, 0.308));
    z-index: 1;
    color:blue;
    transition: background 3s;
}
  
button:hover::before {
    animation: rotate 1s;
    transition: all .5s;
    color:blue;
}
  
@keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}

.principal {
    background-color: black;
}

th {
    color:white;
}

table {
    margin: 0 auto;
}

tr {
    width: auto;
}

hr {
    border:none;
    height: 20px;
 	width: 50%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid white;
	box-shadow: 0 20px 20px -20px lightblue;
    margin: -50px auto 10px; 
}

.imagenes:hover {
    transform: scale(0.9);
    border: 2px solid black;
}