body {
    background-color: lightblue;
}

h2 {
    color:red;
    background-color: black;
    font-family: 'Times New Roman';
}

p {
    font: bold 125% monospace;
}

.peon {
    width: 5cm;
    border-radius:25%;
}

.peon:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    filter: saturate(180%);
}

.alfil {
    width: 5cm;
    border-radius:25%;
}

.alfil:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    filter: sepia(120%);
}

.caballo {
    width: 5cm;
    border-radius:25%;
}

.caballo:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    filter: blur(5px);
}

.torre {
    width: 5cm;
    border-radius:25%;
}

.torre:hover {
    filter: opacity(.5);
}