body {
    background-color: rgb(184, 255, 207);
    text-align: center;
    font-family:'Calibri';
}

h3 {
    color:yellow;
    background-color: blue;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 25px;
}

.cuadrado {
    width: 100px; 
    height: 100px; 
    border: 3px solid #555;
}

.rombo {
    width: 100px; 
    height: 100px; 
    border: 3px solid #555; 
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.triangulo {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 50px solid #f0ad4e;
    border-bottom: 50px solid #f0ad4e;
}

.trapecio {
    width: 25px;
    height: 0px; 
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 100px solid #850505;
}

.huevo {
    width: 126px;
    height: 180px;
    background-color: #ffffff;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.cuarto-circulo {
    width: 100px; 
    height: 100px; 
    border: 2px solid #555; 
    background: #5cb85c;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
}

.pac-man {
    width:0;
    height:0;
    border-right: 50px solid transparent;
    border-top: 50px solid #5cb85c;
    border-left: 50px solid #5cb85c;
    border-bottom: 50px solid #5cb85c;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.ribbon {
    width: 0px;
    height: 120px;
    border-left: 50px solid #d9534f;
    border-right: 50px solid #d9534f;
    border-bottom: 35px solid transparent;
}

.cono {
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid #5cb85c;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

a:hover {
    background-color: yellow;
}

a:visited {
    color:brown;
}

a:link {
    color:blue;
}